*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.data
{
    padding: 40px;
    background: white;
    color: black;
    text-align: center;
    display: inline-block;

    
}

.inner {
    max-width: 100%;
    margin: none;
    padding: 0 20px;
}

 .data1_heading {
    text-align: center;
    margin-left: 50%;
    display: inline-block;
    color: rgba(255, 0, 0, 0.783);
    text-transform: uppercase;
}


.inner .data_paragraph {
    text-align: center;
    color:black;
    display: inline-block;
    font-weight: 600px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    width: 100%;

}


.data1 {
    display: inline-block;
    text-align: center;
    justify-content:center;
    width: 100%;
    align-items: center;
    

}

.ue{
    height: 30rem;
    width: 30rem;
    margin-top: 3rem;
    margin-left: 5rem;
    border-radius: 1.2rem;
    border:solid;

}

@media screen and(max-width:630px){
        .data
        {
            width: 100%;
            background: white;
            color: black;
            display: flex;
            text-align: center;
            display: inline-block;
        
            
        }

        .inner {
            max-width: 100%;
            margin: 0;
            overflow: hidden;
            padding: 0 20px;
            display: flex;
        }
        .inner .data_paragraph {
            text-align: center;
            color:black;
            font-weight: 600px;
            font-size: 14px;
            width: 100%;
            display: flex;
        
        }
        
        .inner .data_heading {
            text-align: center;
            color: rgba(255, 0, 0, 0.783);
            text-transform: uppercase;
            font-size: 20px;
        }
        .ue{
            height: 30rem;
            width: 30rem;
            position: absolute;
            margin-top: 3rem;
            margin-left: 5rem;
            border-radius: 1.2rem;
            border:solid;
        
        }
    }
    

