
.Home,.usedengine {
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    background-image:url(bg.png);
    max-width: 100%;
    height: 100%;
    position:relative;
    display: flex;
    flex-wrap: wrap;
    
}

.Homecontent {
width: 100%;
flex-basis: 50%;
flex: 1;
}

.Home2
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header{
    width: 100%;
}
 
.main_heading
{
    margin-top: 60px;
    text-align: center;
    font-weight:700 ;
    color: black;
    flex-basis: 50%;
    font-size: 40px;
    text-shadow: none;
}

.Cards {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    margin-left: 50px;
    margin-right: 50px;
    flex: 1;
    float: right;
    margin-top: 45px;
    
}

.card1 
{
    width: 300px;
    height: 400px;
    display: inline-block;
    position: relative;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: linear-gradient(rgb(0,0,0,0.8),rgba(0, 0, 0, 0.9)),url(used_engine.jpg);
    background-size: cover;  
    background-position: center;
    justify-content: center;
    z-index: 1;
    transition: transform 0.5s;
  
}

.card2
{
    width: 300px;
    height: 400px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 20px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: linear-gradient(rgb(0,0,0,0.9),rgb(0,0,0,0.9)),url(transmission.webp);
    background-size: cover;  
    background-position: center;
    justify-content: center;
    transition: transform 0.5s;
    

}


.card3
{
    width: 300px;
    height: 400px;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: linear-gradient(rgb(0,0,0,0.9),rgb(0,0,0,0.9)),url(cluster.jpg);
    background-size: cover;  
    background-position: center;
    justify-content: center;
    transition: transform 0.5s;
    
}



.card4
{
    width: 300px;
    height: 400px;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7)),url(steering.jpg);
    background-size: cover;  
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 0.5s;
    justify-content: center;
}


.card5
{
    width: 300px;
    height: 400px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: linear-gradient(rgb(0,0,0,0.9),rgb(0,0,0,0.9)),url(rear_axle.webp);
    background-size: cover;  
    background-position: center;
    justify-content: center;
    transition: transform 0.5s;
    
}


.card6 
{
    width: 300px;
    height: 400px;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: linear-gradient(rgb(0,0,0,0.9),rgb(0,0,0,0.9)),url(shaft.webp);
    background-size: cover;  
    background-position: center;
    justify-content: center;
    transition: transform 0.5s;
}


.card7
{
    width: 300px;
    height: 400px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 20px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: linear-gradient(rgb(0,0,0,0.9),rgb(0,0,0,0.9)),url(supercharger.webp);
    background-size: cover;  
    background-position: center;
    justify-content: center;
    transition: transform 0.5s;
}


.card8
{
    width: 300px;
    height: 400px;
    display: inline-block;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: linear-gradient(rgb(0,0,0,0.9),rgb(0,0,0,0.9)),url(case.jpeg);
    background-size: cover;  
    background-position: center;
    transition: transform 0.5s;
}

.card9
{
    width: 300px;
    height: 400px;
    display: inline-block;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: linear-gradient(rgb(0,0,0,0.9),rgb(0,0,0,0.9)),url(brakesystem.jpeg);
    background-size: cover;  
    background-position: center;
    transition: transform 0.5s;
}

.card10
{
    width: 300px;
    height: 400px;
    position: relative;
    display: inline-block;
    justify-content: center;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: linear-gradient(rgb(0,0,0,0.9),rgb(0,0,0,0.9)),url(shifterassembly.webp);
    background-size: cover;  
    background-position: center;
    transition: transform 0.5s;
}

.card11
{
    width: 300px;
    height: 400px;
    display: inline-block;
    position: relative;
    justify-content: center;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: linear-gradient(rgb(0,0,0,0.9),rgb(0,0,0,0.9)),url(climatecontrol.jpeg);
    background-size: cover;  
    background-position: center;
    transition: transform 0.5s;
}

.card12
{
    width: 300px;
    height: 400px;
    position: relative;
    display: inline-block;
    justify-content: center;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: linear-gradient(rgb(0,0,0,0.9),rgb(0,0,0,0.9)),url(airbags.webp);
    background-size: cover;  
    background-position: center;
    transition: transform 0.5s;
}

.card1:hover,.card2:hover,.card3:hover,.card4:hover,.card5:hover,.card6:hover,.card7:hover,.card8:hover{
        transform: translateY(10px)
      }

  .data1 {
    max-width: 100%;
    align-items: center;
  }
      .mainsection {
        display: flex;
        min-height: 80vh;
        width: 100%;
        margin-right: 50px;
        margin-top: 50px;
      }

      .section {
        align-items: center;
        display: flex;
       
        text-align: center;

      }

      .section h4 {
        font-size: 39px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:rgba(13, 86, 243, 0.811);
        font-weight: 700;
        margin-left: 50px;
        margin-top: 100px;
        text-align: center;
        line-height: 48px;
        text-shadow: 2px black;
      }
 
      .section h4 span {
        font-size: 39px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:#0da6f3cf;
        font-weight: 700;
        line-height: 48px;
        text-shadow: 2px black;
      }      

      .section h1 {
        font-size: 50px;
        display: inline-block;
        margin-top: 30px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:rgb(6, 5, 5);
        font-weight: 700;
        line-height: 48px;
        margin-left: 50px;
        text-shadow: 2px black;
        text-align: center;
      }

      .section h3 {
        font-size: 46x;
        text-align: center;
        margin-top: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:rgb(253, 0, 0);
        font-weight: 700;
        line-height: 48px;
        margin-left: 50px;
      }

 .section .call_us_now
{
    margin-top: 45px;
	background:linear-gradient(135deg,rgba(171, 31, 24, 0.943),rgb(235, 7, 7));
	border: none;
	border-radius: 50px;
	cursor: pointer;
    margin-bottom: 30px;
	transition: all 0.3s ease 0s;
}

.iiii {
    background-color: aliceblue;
}
 .map {
    float: right;
    padding-left: 30px;
    width: 400px;
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
 }

@media screen and (max-width:600px){
.Home,.usedengine
{
    width: 100%;
    height: 100%


    
}

.section{
    display: table-cell;

}
.map {

        float: left;
        width: 80%;
        position: relative;


}
}



@media screen and(max-width:600px){

        .Cards
        {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-right: 100px;
            margin-left: 100ppx;        
        }

         .main_heading{
            display: inline;
            margin: 0;
            font-size: 24px;


        }
    }


