.Layouts{
 height:300px;
 width: 300px;
 background: linear-gradient(hwb(180 7% 48%), blue);
 border-radius: 80px;
 display:inline-block;
 margin-top: 30px;
 margin-left: 15px;
}

a {
  text-decoration: none;
}


.maploc {
  max-width: 420px;
  max-height: 650px;
  width: 100%;
  position: relative;
  background: rgb(246, 244, 230);
  padding: 25px 30px;
  border-radius: 5px;
  border: solid #1f60cf 2px ;
  margin-right: 30px;
  margin-top:120px;
  float: right;

  
  
}



.Card .headings {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: bisque;
  display: inline;
  font-size: 18px;
  font-weight: 700;
  line-height: 45px;
  text-shadow: 1px 1px black;
  align-items: center;
}
.Card .paragraphs
{
  display:flex;
  color: white;
  margin-top: top 100px;
 text-align:start;
 font-weight: 400;
 font-size: 16px;
}


@media screen and (max-width:630px){
  .Card
  {
      width: 100%;
      display: block !important;
      float: left;
      align-items: center;

  
      
  }
  }

 



